@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins&display=swap');

*{
    font-family: 'Koulen', cursive;
    font-family: 'Poppins', sans-serif; 
}
body{
    background-image: url('weather.jpg');
    background-repeat: no-repeat;
}
header{
    padding: 50px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
main{
    /* text-align: center; */
    font-size: large;
    color: rgb(0, 0, 231);
    font-weight: bold;
    padding-left: 5%;
    background-color: lightcyan;
    margin: 0 450px 0 450px;
    opacity: 0.5;
}
input[type="text"]{
    padding: 8px;
    border: 2px solid bisque;
    background-color: floralwhite;
    border-radius: 10px;
    font-size: large;
}

.lab{
    margin-top: 50px;
}
